<div class="gerenciamento-conteiner" *ngIf="showGerenciamento">
    <div class="filtros-header">
        <div class="filtros-container">  
            <a (click)="toggleTab(false, false, true)" *ngIf="isAdmin()" [ngClass]="{'active-gerenciamento': showProdutos}">
                <mat-icon>shopping_bag</mat-icon>
                Produtos
            </a>
            <a (click)="toggleTab(false, true, false)" *ngIf="isAdmin()" [ngClass]="{'active-gerenciamento': showServicos}">
                <mat-icon>content_cut</mat-icon>
                Serviços
            </a>
            <a (click)="toggleTab(true, false, false)" *ngIf="isAdmin()" [ngClass]="{'active-gerenciamento': showBarbeiros}">
                <mat-icon>person</mat-icon>
                Barbeiros
            </a>
            <!-- <a *ngIf="isAdmin()">Disponibilidade</a> -->
        </div>
    </div>
    <div class="gerenciamento-body">
            <div class="gerenciamento-produtos" *ngIf="showProdutos && isAdmin()">
                <app-produtos-gerenciamento></app-produtos-gerenciamento>
        </div>
        <div class="gerenciamento-servicos" *ngIf="showServicos && isAdmin()">
            <app-servicos-gerenciamento></app-servicos-gerenciamento>
        </div>
        <div class="gerenciamento-barbeiros" *ngIf="showBarbeiros">
            <app-barbeiros-gerenciamento></app-barbeiros-gerenciamento>
        </div>
    </div>
</div>