<app-header></app-header>
<div class="perfil-container">
  <!-- Header da página -->
  <div class="perfil-header">
    <button class="back-button" mat-icon-button>
      <mat-icon>arrow_back</mat-icon>
    </button>
    <h1 class="page-title">Meu Perfil</h1>
    <div class="header-spacer"></div>
  </div>
  <div class="perfil-content">
    <app-perfil-form 
    [userInfo]="userInfo" 
    [userEmail]="getUserEmail()"
    [userRole]="getRoleName()">
    </app-perfil-form>
    <app-barber-stats 
    [userInfo]="userInfo" 
    [isBarbeiro]="isBarbeiro()">
  </app-barber-stats>
  </div>
     
</div>
<app-footer></app-footer>
