<div class="card" [class.produto]="tipo === 'produto'" [class.servico]="tipo === 'servico'" (click)="onCardClick()">
  <div class="card-image">
    <img [src]="urlImagem" [alt]="nome" (error)="onImageError($event)">
    <div class="card-overlay">
      <span class="card-type">{{ tipo | titlecase }}</span>
    </div>
  </div>
  
  <div class="card-content">
    <h4 class="card-title">{{ nome }}</h4>
    <p class="card-description">{{ descricao }}</p>
    <div class="card-footer">
      <div class="card-price">R$ {{ preco | number:'1.2-2' }}
        <span class="card-service-time">{{ tipo === 'servico' ? tempoEstimado + ' min' : '' }}</span>
      </div>
      <button 
        class="card-action-btn" 
        mat-stroked-button 
        color="primary"
        (click)="onCardClick(); $event.stopPropagation();">
        <mat-icon>{{ tipo === 'produto' ? 'shopping_cart' : 'event_available' }}</mat-icon>
        {{ tipo === 'produto' ? 'Comprar' : 'Agendar' }}
      </button>
    </div>
  </div>
</div>
