<section class="sobre-section">
  <div class="sobre-container">
    <div class="sobre-content">
      <div class="sobre-text">
        <h2 class="sobre-title">Sobre Nós</h2>
        
        <p class="sobre-paragraph">
          Desde setembro de 2020, a Barbearia Fine vem transformando 
          cortes em experiências únicas. Aqui, cada detalhe é pensado 
          para oferecer conforto, qualidade e atendimento de alto nível — 
          porque acreditamos que o visual é uma extensão da sua 
          identidade.
        </p>
        
        <p class="sobre-paragraph">
          Com ambiente moderno, equipe especializada e aquele 
          atendimento que faz você se sentir em casa, a Fine é mais do 
          que uma barbearia: é um lugar onde o estilo ganha forma com 
          personalidade e precisão
        </p>
      </div>
      
      <div class="sobre-image">
        <div class="image-container">
          <img src="assets/bg_tmp.jpg" alt="Fachada da Barbearia Fine" class="fachada-img">
        </div>
      </div>
    </div>
  </div>
</section>
