<app-header></app-header>

<div class="agendamento-container">
    <app-hero-section-agendamento [barbeiro]="barbeiro"></app-hero-section-agendamento>
    <app-form-agendamento
    [produtosDisponiveis]="produtosDisponiveis" 
    [servicosDisponiveis]="servicosDisponiveis"
    [horariosDisponiveis]="horariosDisponiveis"
    (listarHorarios)="onListarHorarios($event)"
    (timeSelected)="getSelectedTime($event)"
    (produtosIdQuantidade)="getProdutosIdsQuantidade($event)">
    </app-form-agendamento>

  <section class="action-section">
    <div class="action-container">
      <app-primary-button 
        text="Confirmar Agendamento"
        icon="check"
        [disabled]="!isTimeSelected"
        [loading]="isLoading"
        variant="raised"
        size="large"
        color="primary"
        (buttonClick)="submitAgendamento()">
      </app-primary-button>
    </div>
  </section>

</div>

<app-footer></app-footer>
