@import '../../../variables';

// Compensar o header fixo
.page-container {
  padding-top: 80px;
}

.home-title-content {
  position: relative;
  height: 500px;
  background-image: url('/assets/bg_tmp.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;


  .hero-section {
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column;
    padding: 1.5% 5%;

    .hero-subtitle {
      color: white;
      font-size: $text_body_size;
      font-weight: 500; 
      text-align: center; 
      margin: 0;
    }
    .hero-description {
      color: $texto_branco;
      font-size: $text_subtitle_size;
      margin-top: 20px;
      line-height: 1;
      max-width: 600px;
    }

    .title {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start
    }
    
    .hero-title {
    color: $texto_branco;
    font-size: $home_title;
    font-weight: bold;
    margin-top: 100px;
    z-index: 2; 
  
  }
  }
      .badge-item {
      vertical-align: middle;
      display: flex;
      z-index: 2;
      position: relative;
      justify-content: flex-start;
      margin-bottom: 10px;
      mat-icon {
        color: $texto_branco;
        margin-right: 8px;
      }
      span {
        color: $texto_branco;
        font-size: 14px;
      }
      
      flex-direction: row;
      margin-bottom: 10px;

      mat-icon {
        color: $texto_branco;
        margin-right: 8px;
      }

      span {
        color: $texto_branco;
        font-size: 14px;
      }
    }


    &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: $bg_overlay_gradient;
    z-index: 1; 
  }


  
}

 
.tmp {
  background-color: gray;
}

// Responsividade para o header fixo
@media (max-width: 768px) {
  .page-container {
    padding-top: 70px; /* Header menor em mobile */
  }
}

@media (max-width: 480px) {
  .page-container {
    padding-top: 0; /* Header ainda menor em mobile pequeno */
  }
}